## Ejemplo 4: Concat con Series

### 1. Objetivos:
    - Usar pd.concat para concatenar `Series`
 
---
    
### 2. Desarrollo:

Muchas veces vamos a tener `Series` o `DataFrames` que queremos unir en una sola estructura. Para eso podemos usar `pd.concat`. Concatenando `Series`, podemos hacer lo siguiente:

In [2]:
import pandas as pd

In [3]:
serie_1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
serie_2 = pd.Series([4, 5, 6], index=['d', 'f', 'e'])

Concatena en vertical las series 1 y 2 usando:

`pd.concat(-lista de series-, axis=0)`

In [5]:
pd.concat([serie_1, serie_2], axis=0)

a    1
b    2
c    3
d    4
f    5
e    6
dtype: int64

También podemos concatenar horizontalmente usando `axis=1`:

In [6]:
pd.concat([serie_1, serie_2], axis=1)

     0    1
a  1.0  NaN
b  2.0  NaN
c  3.0  NaN
d  NaN  4.0
f  NaN  5.0
e  NaN  6.0

Podemos nombrar nuestras columnas como `serie_1` y `serie_2` para saber cuál era cuál usando:

`pd.concat(-lista de series-, axis=1, keys=-lista de nombres-)`

In [7]:
pd.concat([serie_1, serie_2], axis=1, keys=["serie_1", "serie_2"])

   serie_1  serie_2
a      1.0      NaN
b      2.0      NaN
c      3.0      NaN
d      NaN      4.0
f      NaN      5.0
e      NaN      6.0

Qué pasa si concatenamos horizontalmente usando el mismo índice, consideremos la `serie_3` y concatemos con la `serie_1` nombrando a las columnas `s_1` y `s_3` respectivamente:

In [8]:
serie_3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

In [9]:
pd.concat([serie_1, serie_3], axis=1, keys=["s_1", "s_3"])

   s_1  s_3
a    1    7
b    2    8
c    3    9

Si concatenamos verticalmente dos `Series` que comparten el índice, tenemos el problema de no poder diferenciar los índices, así que veamos el resultado de concatenar las series `serie_1` y `serie_3` en vertical:

In [10]:
pd.concat([serie_1, serie_3], axis=0)

a    1
b    2
c    3
a    7
b    8
c    9
dtype: int64

A veces queremos esto, pero cuando no, podemos agregar un segundo nivel de índice (`s_1` y `s_3`) para hacer la diferencia:

`pd.concat(-lista de series-, axis=0,
    keys=-lista de índices-)`

In [11]:
pd.concat([serie_1, serie_3], axis=0, keys=["s_1", "s_3"])

s_1  a    1
     b    2
     c    3
s_3  a    7
     b    8
     c    9
dtype: int64

Esto se llama un `Multi-índice`. Podemos acceder a un `multi-índice` en un solo nivel o en ambos, primero vamos a asignar el resultado anterior a la variable `serie`:

In [12]:
serie = pd.concat([serie_1, serie_3], axis=0, keys=["s_1", "s_3"])

serie

s_1  a    1
     b    2
     c    3
s_3  a    7
     b    8
     c    9
dtype: int64

Accedemos al primer índice usando:

`serie.loc[-indice-]`

para acceder a los elementos de la serie `s_3` usamos:

In [13]:
serie.loc["s_3"]

a    7
b    8
c    9
dtype: int64

Accedemos al elemento `b` de la serie `s_3`:

`serie.loc[-indice serie-, -indice de elemento-]`

In [14]:
serie.loc["s_3", "b"]

8